.parent{
    background-color: white;
    width: 573px;
    height: 578px;
    left: 31%;
    top: 11%;
    border: 5px solid;
    position: fixed;
        
    
}
.divid{
    background-color:white;
    height: 140px;
    width: 140px;
    display: inline-block;
}