.parent{
    background-color: aquamarine;
    width: 600px;
    height: 800px;
    left: 31%;
    top: 11%;
}
.divid{
    background-color:gold;
    height: 147px;
    width: 147px;
    display: inline-block;
}